<div class="cards">

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="assets/img/empresa.png" alt="wave" />
    </div>
    <div class="card-title">
      <h2>
          Registrar Empresa
          <small>Presione el boton para dirigirlo al formulario</small>
          <a [routerLink]="['/empresaRegistro']" class="btn">Read more</a>
      </h2>
    </div>
  </div>
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="assets/img/estudiante.png" alt="wave">
    </div>
    <div class="card-title">
      <h2>
          Registrar Estudiante
          <small>Presione el boton para dirigirlo al formulario</small>
          <a [routerLink]="['/estudianteRegistro']" class="btn">Read more</a>
      </h2>
    </div>
  </div>
    








  


</div>



