<div  class="container fadeIn animated " style="max-width: 10cm ; display: flex; justify-content: center; ">
    <div class="card">
        <div class="card-header text-md-center mt-50" style="background-color: rgb(34, 34, 34);">
            <h2 style="color: white;"> Registrar </h2>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

            <div class="card-body text-md-center">
                <hr />
                <div class="form-group ">
                    <div  style="max-width:100%">
                        <p>Correo: </p>
                    </div>
                    <div class="col-sm-4" style="max-width:100%">
                        <input type="email"   name="correo" maxlength="50"   formControlName="correo"  class="form-control"  tabindex="17" [class.is-invalid]="correoinvalido" />
                        <div *ngIf="correoinvalido" class="text-danger">Se requiere el correo </div>
                    </div>
                    <div  style="max-width:100%">
                        <p>Contraseña: </p>
                    </div>
                    <div class="col-sm-4" style="max-width:100%">
                        <input type="password"   name="password" maxlength="50"   formControlName="password"  class="form-control"  tabindex="17" [class.is-invalid]="passwordinvalido" />
                        <div *ngIf="passwordinvalido" class="text-danger">Se requiere contraseña</div>
                    </div> 
                    <div  style="max-width:100%">
                        <p>Repetir Contraseña: </p>
                    </div>
                    <div class="col-sm-4" style="max-width:100%">
                        <input type="repassword"   name="repassword" maxlength="50"   formControlName="repassword"  class="form-control"  tabindex="17" [class.is-invalid]="repasswordinvalido" />
                        <div *ngIf="repasswordinvalido" class="text-danger">No coinciden las contraseñas</div>
                    </div> 

                    
                </div>
                <hr />
                <div >
                    <label style="color: blue;" [routerLink]="[ '/login']" >Ya tienes Cuenta? Click acá</label>
                </div>
                <div class="form-group row text-md-center" style = "display: flex; justify-content: center; ">
                    <div class=" col-sm-2 " style="max-width:100% ">
                        <button type="submit"  class="btn btn-success " (click)="onSubmit() " [disabled]="formGroup.invalid">Registrar</button>
                    </div>
                    <div class="col-sm-4 " style="max-width:100% ">
                        <button class="btn btn-danger "  [routerLink]="[ '/'] ">Cancelar</button>
                    </div>
            </div>
    </div>
    </form>
    </div>
    </div>