<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
          <a class="navbar-brand" [routerLink]="['/']">CEMPRE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
              <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-ligth" [routerLink]="['/estudianteConsulta']"
            >Estudiantes</a>
        </li>       
<li class="nav-item" [routerLinkActive]="['link-active']">
<a class="nav-link text-ligth" [routerLink]="['/empresaConsulta']"
>Empresas</a>
</li> 
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-ligth" [routerLink]="['/empresaPerfil']">Empresa</a>
      </li>
<li class="nav-item" [routerLinkActive]="['link-active']">
<a class="nav-link text-ligth" [routerLink]="['/estudiantePerfil']"
>Estudiante</a>
</li> 
      
      </ul>
    </div>
  </div>

  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" [routerLink]="['/login']" >Login</button>
  </form>
  <hr/>
  <form class="form-inline">
    <button class="btn btn-outline-primary" type="button" [routerLink]="['/gestion']">
      Registro
    </button>
  </form>
</nav>
</header>