<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title style="margin-top: auto;">Registro</title>
      </head>
      <body>    
        <div class="container">
            <div class="wrapper">
          <ul class="steps">
              <li class="is-active">Paso 1</li>
          </ul>

          <form class="form-wrapper" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <fieldset class="section is-active" >
              <h3>Informacion Basica </h3>

              <div class="col-sm-4 text-right" style="max-width:100% ">
                <button class="btn btn-danger "  [routerLink]="[ '/gestion'] ">Atras</button>
            </div>
              <label id="lbl1"for="razonsocial">Razon Social:</label>
              <input  type="text" id="razonSocial"  name="razonSocial"  placeholder="Ingrese Razon Social"  formControlName="razonSocial"  class="form-control"  tabindex="17" [class.is-invalid]="razoninvalido" />
              <div *ngIf="razoninvalido" class="text-danger">Se requiere la Razon Social</div>

              <label id="lbl1"for="nit">NIT:</label>
              <input type="text" id="nit"  name="nit" maxlength="20"  placeholder="Ingrese NIT"  formControlName="nit"  class="form-control" [class.is-invalid]="nitinvalido" />
              <div *ngIf="nitinvalido" class="text-danger">Se requiere el NIT</div>

             <label id="lbl1" for="pais">Pais:</label>
             <select id ="pais" name="pais" formControlName="pais" class="form-control"  tabindex="17" [class.is-invalid]="paisinvalido" >
                 <option *ngFor="let pais of paises" 
                 [value]="pais.nombre"> 
                 {{pais.nombre}}
                </option>
            </select>                
            <div *ngIf="paisinvalido" id="sexd"class="text-danger">Seleccione uno</div>    <br> <br>
        
        <label id="lbl1" for="departamento">Depto:</label>
              <select id ="departamento" name="departamento" formControlName="departamento"  class="form-control"  tabindex="17" [class.is-invalid]="deptoinvalido" >
                  <option *ngFor="let depto of deptos" 
                  [value]="depto.nombre"> 
                  {{depto.nombre}}
                </option>
            </select>                
            <div *ngIf="deptoinvalido" id="sexd"class="text-danger">Seleccione uno</div>    <br>

            <br><label id="lbl1" for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad"  name="ciudad" maxlength="20"  placeholder="Ciudad"  formControlName="ciudad"  class="form-control"  tabindex="17" [class.is-invalid]="ciudadinvalido" />
            <div id="ciudadNacimientod" *ngIf="ciudadinvalido" class="text-danger">Se requiere la ciudad de nacimiento</div>

            <br><label id="lbl1" for="direccion">Direccion:</label>
            <input type="text" id="direccion"  name="direccion" maxlength="40"  placeholder="Cireccion"  formControlName="direccion"  class="form-control"  tabindex="17" [class.is-invalid]="direccioninvalido" />
            <div id="ciudadNacimientod" *ngIf="direccioninvalido" class="text-danger">Se requiere la direccion</div> <br><br>
        
            <label id="lbl1" for="sector">Sector Empresa:</label>
            <select id="sector"name="sector" formControlName="sector"  class="form-control"  tabindex="17" [class.is-invalid]="sectorinvalido">
              <option value="Agricultura, plantaciones,otros sectores rurales">Agricultura, plantaciones,otros sectores rurales</option> 
              <option value="Alimentación, bebidas, tabaco" >Alimentación, bebidas, tabaco</option>
              <option value="Comercio">Comercio  </option>
              <option value="Construcción">Construcción  </option>
              <option value="Educación">Educación  </option>
              <option value="Fabricación de material de transporte ">Fabricación de material de transporte </option>
              <option value="Función pública ">Función pública </option>
              <option value="Hotelería, restauración, turismo ">Hotelería, restauración, turismo </option>
              <option value="Industrias químicas ">Industrias químicas </option>
              <option value="Ingenieria mecánica y eléctrica">Ingenieria mecánica y eléctrica  </option>
              <option value="Medios de comunicación, cultura, gráficos">Medios de comunicación, cultura, gráficos  </option>
              <option value="Minería (carbón, otra minería)">Minería (carbón, otra minería) </option>
              <option value="Petroleo y producción de gas, refinación de petroleo">Petroleo y producción de gas, refinación de petroleo  </option>
              <option value="Producción de metales básicos ">Producción de metales básicos </option>
              <option value="Servicios de correos y de telecomunicaciones">Servicios de correos y de telecomunicaciones </option>
              <option value="Servicios de salud ">Servicios de salud  </option>
              <option value="Servicios financieros, servicios profesionales ">Servicios financieros, servicios profesionales</option>
              <option value="Servicios públicos (agua, gas, electricidad) ">Servicios públicos (agua, gas, electricidad)  </option>
              <option value="Silvicultura, madera, celulosa, papel ">Silvicultura, madera, celulosa, papel  </option>
              <option value="Textiles, vestido, cuero, calzado ">Textiles, vestido, cuero, calzado </option>
              <option value="Transporte (inluyendo aviación civil, ferrocarriles, transporte por carretera) ">Transporte (inluyendo aviación civil, ferrocarriles, transporte por carretera)  </option>
              <option value="Transporte marítimo, puertos, pesca, transporte interior ">Transporte marítimo, puertos, pesca, transporte interior  </option>
            </select><br>
            <div id="sexod"  *ngIf="sectorinvalido" class="text-danger">Seleccione uno</div>   <br>  
            <br><div id="centrob" >                   
              <button type="submit" class="btn btn-primary">Validar informacion</button>                  
            </div>
            <button  class="btn btn-primary" [disabled]="!formGroup.valid" [routerLink]="[ '/view1']">Siguiente</button>                  
        </fieldset>                     
          </form> 
        </div>
    </div> 
</body>
      </html> 

      
      
       
      
       
      
       
      
      
      
      













