
<h1>
    Estudiantes Registrados
</h1> 
      <hr>     
    <table id="myTable" class="table table-striped table-bordered"style="width:100%">
        <thead>

          <tr>
            <th scope="col">#</th>
            <th scope="col">identificacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Sexo</th>
            <th scope="col">semestre</th>
            <th scope="col">Carrera</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          
           <tr *ngFor="let estudiante of estudiantes|filtroxEstado:estado;index as i ">
            <th scope="row">{{i + 1}}</th>
            <td>{{estudiante.identificacion}}</td>
            <td>{{estudiante.nombres}}</td>
            <td>{{estudiante.sexo}}</td>
            <td>{{estudiante.semestre}}</td>
            <td>{{estudiante.carrera}}</td>
            <td>{{estudiante.estado}}</td>
            <td>
              <button class="btn btn-info mr-1"
               [routerLink]="['/estudiantePerfil',estudiante.identificacion]">
               <i class="fa fa-pen"></i>
             </button>
             <button class="btn btn-info mr-1"
              (click)="add()">
             <i class="fa fa-plus"></i>
           </button>
            </td>
           </tr>

        </tbody>
      </table>
      
      
    <div *ngIf="!cargando && estudiantes.length === 0"
    class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
    <i class="fa fa-exclamation fa-2x"></i>
    </p>
    </div>
      <div *ngIf="cargando" 
      class="alert alert-info text-center mt-3 animated fadeIn faster">
   <h4 class="alert-heading">Cargando</h4>
   <p>
     <i class="fa fa-sync-alt fa-spin fa-2x"></i>
   </p>
   <p class="mb-0">
     Espere por favor
   </p>
 </div>
     