<div class="row">
        <div class="col-6">
          <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
        </div>
      </div>
      <hr>
      
      <table class="table table-striped" *ngIf='estudiantes && estudiantes.length'>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">identificación</th>
            <th scope="col">Nombre </th>
            <th scope="col">sexo</th>
            <th scope="col">Edad</th>
            <th scope="col">Semestre</th>
            <th scope="col">Correo</th>
          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let estudiante of estudiantes; index as i ">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{estudiante.identificacion }} </td>
                <td>{{estudiante.nombre }}</td>
                <td>{{estudiante.sexo  }}</td>
                <td>{{estudiante.edad  }}</td>
                <td>{{estudiante.semestre}}</td>
                <td>{{estudiante.correo}}</td>
              </tr>
                </tbody>
          </table>