<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title style="margin-top: auto;">Registro</title>
    </head>
    <body>    
        <div class="container">
            <div class="wrapper">
          <ul class="steps">
              <li class="is-active">Paso 1</li>

          </ul>

 <!-- ESTADO ESTUDIANTE practicas o disponible  -->
          <form class="form-wrapper" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <fieldset class="section is-active" >
              <h3>Informacion Basica Personal</h3>

              <div class="col-sm-4 text-right" style="max-width:100% ">
                <button class="btn btn-danger "  [routerLink]="[ '/gestion'] ">Atras</button>
            </div>
              <label id="lbl1"for="identificacion">Identificacion:</label>
              <input  type="text" id="identificacion"  name="identificacion" maxlength="20"  placeholder="Ingrese Identificacion"  formControlName="identificacion"  class="form-control"  tabindex="17" [class.is-invalid]="identificacion" />
              <div *ngIf="identificacioninvalido" class="text-danger">Se requiere la Identificacion</div>

              <label id="lbl1"for="nombres">Nombres:</label>
              <input type="text" id="nombres"  name="nombres" maxlength="20"  placeholder="Ingrese Nombres"  formControlName="nombres"  class="form-control" [class.is-invalid]="nombreinvalido" />
              <div *ngIf="nombreinvalido" class="text-danger">Se requiere el Nombre</div>

              <label id="lbl1"for="apellido">Apellido:</label>
              <input type="text" id="apellido"  name="apellido" maxlength="20"  placeholder=" Ingrese Apellido"  formControlName="apellido"  class="form-control"   [class.is-invalid]="apellidoinvalido" />
              <div *ngIf="apellidoinvalido" class="text-danger">Se requiere el Apellido</div> 
      
              <label id="lbl1"for="correo">Correo Institucional:</label>
              <input type="text" id="email"  name="correo" maxlength="50"  placeholder="Ingrese Email"  formControlName="correo"  class="form-control"   [class.is-invalid]="correoinvalido" />
               <div *ngIf="correoinvalido" class="text-danger">Se requiere el correo estudiantil del solicitante</div>

               <label id="lbl1"for="telefono">Telefono:</label>
               <input type="text" id="telefono"  name="telefono" maxlength="10"  placeholder="Telefono"  formControlName="telefono"  class="form-control"   [class.is-invalid]="telefinvalido" />
               <div *ngIf="telefinvalido" class="text-danger">Se requiere el Telefono del Estudiante</div>  

               <label id="lbl1" for="sexo">Sexo:</label>
              <select id ="sexo" name="sexo" formControlName="sexo"  class="form-control"  tabindex="17" [class.is-invalid]="sexoinvalido">
                <option value="M">Masculino</option> 
                <option value="F" selected>Femenino</option>
                <option value="P">Prefiere no Decirlo</option>
              </select><br>
              <div *ngIf="sexoinvalido" id="sexd"class="text-danger">Seleccione uno</div>    <br>
               
              <br><div id="centrob" >                   
                <button type="submit" class="btn btn-primary">Validar informacion</button>                  
              </div>
              <button  class="btn btn-primary" [disabled]="!formGroup.valid" [routerLink]="[ '/rview1']">Siguiente</button>                  
          </fieldset> 

          <fieldset class="section">
            <h3>Registrado Satisfactoriamente!</h3><br>
            <p>Puede revisar su informacion en el apartado de Perfil</p>
            <p>Recuerde realizar el pago desde el vortal universitario</p>
            <button class="btn btn-primary"  [routerLink]="[ '/estudiantePerfil'] ">Volver</button>
          </fieldset>
          </form> 
        </div>
    </div> 
</body>
      </html>

