<div class="sect sect--padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      <div class="site">
        <h1 class="site__title">centro de practicas empresariales </h1>
        <h2 class="site__subtitle">aplicativo web</h2>
        <div class="site__box-link">
          <a class="btn btn--width" href="">Informacion</a>
          <a class="btn btn--revert btn--width" href="">Contact</a>
        </div>
        <img class="site__img" src="assets/img/homec.png">
      </div>
      </div>
      </div>
    </div>
  </div>