<div class="Container" style="max-width: 20cm;">

  <H1>INFORMACIÓN INSTITUCIONAL
    POR QUÉ EXISTE EL CEMPRE? </H1>
     <p>

      Por que la Universidad requiere desarrollar una adecuada presencia en la sociedad y empresa Regional y Nacional .
      Por existe la necesidad estrechar las relaciones de los sectores productivos con la institución,     aprovechando el factor humano docente con especialidad en distintas áreas y un grueso número de estudiantes y egresados  abiertos al saber.
      por que hay  establecer  alianzas estratégicas instituciones públicas y privadas que permitan el fortalecimiento de la Universidad, como GENERADOR DE DESARROLLO EDUCATIVO Y SOCIAL
         
     </p>
<h2>MISIÓN</h2>
El Centro de Estudios Empresariales trabajará por el bien de la Universidad Popular del Cesar, luchando por afianzar sus áreas al quehacer de la institución, promoviendo la solidaridad gremial, con la eficiencia y la tecnología, impulsando el desarrollo intelectual, económico y social de sus actores principales, estudiantes y egresados.

<h2>VISIÓN</h2>
Ser un centro modelo de desarrollo académico y práctico, donde se trabaje por la dinámica empresarial y consolidar el enlace Universidad– Sector Empresarial

   </div>