<div class="sect sect--padding-top">
    <div id="up" class="container">
      <div class="row">
        <div class="col-md-12">
      <div  class="site">
        <h1 class="site__title">CENTRO DE PRACTICAS EMPRESARIALES </h1>
        <h2 class="site__subtitle">Aplicativo Web</h2>
        <div class="site__box-link">
          <a class="btn btn--width" href="#abajo">Informacion</a>
          <a class="btn btn--revert btn--width" href="">Contact</a>
        </div>
        <img class="site__img" src="assets/img/homec.png">
      </div>

      </div>

      <div id="abajo" class="Card">

        <h2 class="site__subtitle">POR QUÉ EXISTE EL CEMPRE?</h2>

          <h5>- Por que la Universidad requiere desarrollar una adecuada presencia en la sociedad y empresa Regional y Nacional .</h5>
          <h5>- Por que existe la necesidad estrechar las relaciones de los sectores productivos con la institución,     aprovechando el factor humano docente con especialidad en distintas áreas y un grueso número de estudiantes y egresados  abiertos al saber.</h5>
          <h5>- Por que hay  establecer  alianzas estratégicas instituciones públicas y privadas que permitan el fortalecimiento de la Universidad, como GENERADOR DE DESARROLLO EDUCATIVO Y SOCIAL</h5> 
          <a class="btn btn--width" href="#up">Arriba</a>
        </div>
      </div>
    </div>
  </div>