<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title style="margin-top: auto;">Registro</title>
    </head>
    <body>    
        <div class="container">
            <div class="wrapper">
          <ul class="steps">
              <li class="is-active">Paso 2</li>

          </ul>
          <form class="form-wrapper" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

          <fieldset class="section is-active">
            <h3> Informacion Especifica </h3>
            <div class="col-sm-4 text-right" style="max-width:100% ">
              <button class="btn btn-danger "  [routerLink]="[ '/gestion'] ">Atras</button>
          </div>
            <label id="lbl1" for="ciudadNacimiento">Ciudad de Nacimiento:</label>
            <input type="text" id="ciudadNacimiento"  name="ciudadNacimiento" maxlength="20"  placeholder="Ciudad de Nacimiento"  formControlName="ciudadNacimiento"  class="form-control"  tabindex="17" [class.is-invalid]="ciudadNinvalido" />
            <div id="ciudadNacimientod" *ngIf="ciudadNinvalido" class="text-danger">Se requiere la ciudad de nacimiento</div> <br><br>

            <label id="lbl1"for="eps">EPS:</label>
            <input type="text" id="eps"  name="eps" maxlength="50"  placeholder="Eps"  formControlName="eps"  class="form-control"  tabindex="17" [class.is-invalid]="epsinvalido" />
            <div *ngIf="epsinvalido" class="text-danger">Se requiere la EPS del Estudiante</div> 

              <label id="lbl1" for="fechaNacimiento">Fecha de Nacimiento:</label>
              <input type="date" id="fechaNacimiento"  name="fechaNacimiento" maxlength="20"  placeholder="Fecha de Nacimiento"  formControlName="fechaNacimiento"  class="form-control"  tabindex="17" [class.is-invalid]="fechainvalido" />
              <div id="fechaNacimientod"*ngIf="fechainvalido" class="text-danger">Se requiere la fecha de nacimiento</div> <br><br>

              <label id="lbl1" for="estadoCivil">Estado Civil:</label>
              <select id="estadoCivil" name="estadoCivil"  formControlName="estadoCivil"  class="form-control"  tabindex="17" [class.is-invalid]="estadoCinvalido">
                <option value="Soltero">Soltero</option> 
                <option value="Casado" selected>Casado</option>
                <option value="Union Libre">Union Libre</option>
              </select>
              <div *ngIf="estadoCinvalido" class="text-danger">Seleccione uno</div>    

              <br><div id="centrob" >                   
                <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary">Validar informacion</button>                  
              </div>
              <button  class="btn btn-primary" [disabled]="!formGroup.valid" [routerLink]="[ '/rview2']">Siguiente</button>           </fieldset>
        </form> 

            </div>
        </div>
    </body>
</html>