<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div id="mp" style = "display: none;" class="profile-userpic">
					<img src="assets/img/userM.png">
				</div>
				<div id="fp" style = "display: none;"	 class="profile-userpic">
					<img src="assets/img/userF.png">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
					<h5>
					{{estudiante.nombres}}	
					{{estudiante.apellido}}	
					</h5>
					</div>
					<div class="profile-usertitle-job">
						Estudiante
					</div>
					<div class="profile-usertitle-job">
						{{estudiante.carrera}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE --> 
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button  type="button" class="btn btn-success btn-sm"  (click)="add()">Agregar a la Empresa</button>
					<button type="button" class="btn btn-danger btn-sm">Adjuntar Archivos</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
			   
           <div class="portlet light bordered">
				<!-- STAT -->
				<div class="row list-separated profile-stat">
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="uppercase profile-stat-title"> {{estudiante.invOproyec}} </div>
						<div class="uppercase profile-stat-text"> {{estudiante.conocimientoyprac}} </div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="uppercase profile-stat-title"> {{estudiante.seminarios}} </div>
						<div class="uppercase profile-stat-text"> {{estudiante.distinciones}} </div>
					</div>
				</div>
				<!-- END STAT -->
			</div>                   
                                           
        
        
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
				<div id="calendar-wrap">
					<header>
						<h5>
							{{currentDate()}}	
						</h5>
											</header>
					<div id="calendar">
						<ul class="weekdays">
							<li>Domingo</li>
							<li>Lunes</li>
							<li>Martes</li>
							<li>Miercoles</li>
							<li>Jueves</li>
							<li>Viernes</li>
							<li>Sabado</li>
						</ul>
		
						<!-- Days from previous month -->
		
						<ul class="days">
							<li class="day other-month">
								<div class="date">27</div>    					
							</li>
							<li class="day other-month">
								<div class="date">28</div>    					
							</li>
							<li class="day other-month">
								<div class="date">29</div>    					
							</li>
							<li class="day other-month">
								<div class="date">30</div>    					
							</li>
							<li class="day other-month">
								<div class="date">31</div>    					
							</li>
		
							<!-- Days in current month -->
		
							<li class="day">
								<div class="date">1</div>    					
							</li>
							<li class="day">
								<div class="date">2</div>     					
							</li>
						</ul>
		
							<!-- Row #2 -->
		
						<ul class="days">
							<li class="day">
								<div class="date">3</div>    					
							</li>
							<li class="day">
								<div class="date">4</div>    					
							</li>
							<li class="day">
								<div class="date">5</div>    					
							</li>
							<li class="day">
								<div class="date">6</div>    					
							</li>
							<li class="day">
								<div class="date">7</div>
							</li>
							<li class="day">
								<div class="date">8</div>    					
							</li>
							<li class="day">
								<div class="date">9</div>    					
							</li>
						</ul>
		
							<!-- Row #3 -->
		
						<ul class="days">
							<li class="day">
								<div class="date">10</div>    					
							</li>
							<li class="day">
								<div class="date">11</div>    					
							</li>
							<li class="day">
								<div class="date">12</div>    					
							</li>
							<li class="day">
								<div class="date">13</div>    					
							</li>
							<li class="day">    					
							</li>
							<li class="day">
								<div class="date">15</div>    					
							</li>
							<li class="day">
								<div class="date">16</div>    					
							</li>
						</ul>
		
							<!-- Row #4 -->
		
						<ul class="days">
							<li class="day">
								<div class="date">17</div>    					
							</li>
							<li class="day">
								<div class="date">18</div>    					
							</li>
							<li class="day">
								<div class="date">19</div>    					
							</li>
							<li class="day">
								<div class="date">20</div>    					
							</li>
							<li class="day">
								<div class="date">21</div>    					
							</li>
							<li class="day">
								<div class="date">22</div>   					
							</li>
							<li class="day">
								<div class="date">23</div>    					
							</li>
						</ul>
		
								<!-- Row #5 -->
		
						<ul class="days">
							<li class="day">
								<div class="date">24</div>    					
							</li>
							<li class="day">
								<div class="date">25</div>    					
							</li>
							<li class="day">
								<div class="date">26</div>    					
							</li>
							<li class="day">
								<div class="date">27</div>    					
							</li>
							<li class="day">
								<div class="date">28</div>    					
							</li>
							<li class="day">
								<div class="date">29</div>    					
							</li>
							<li class="day">
								<div class="date">30</div>    					
							</li>
						</ul>
		
						<!-- Row #6 -->
		
						<ul class="days">
							<li class="day">
								<div class="date">31</div>    					
							</li>
							<li class="day other-month">
								<div class="date">1</div> <!-- Next Month -->    					
							</li>
							<li class="day other-month">
								<div class="date">2</div>    					
							</li>
							<li class="day other-month">
								<div class="date">3</div>    					
							</li>
							<li class="day other-month">
								<div class="date">4</div>    					
							</li>
							<li class="day other-month">
								<div class="date">5</div>    					
							</li>
							<li class="day other-month">
								<div class="date">6</div>    					
							</li>
						</ul>
		
					</div><!-- /. calendar -->
				</div><!-- /. wrap -->            </div>
		</div>
	</div>
</div>